extends ../layouts/three-column
block localscript
    script(src="/js/markdown-config.js")
block main
    div.create-article
        form(action='/Article/create',method='post',role='form').form-horizontal
            fieldset
                if (req.path == "/article/create")
                    legend Nouvel article
                else 
                    legend Mise à jour
                if (typeof(errors) !== 'undefined')
                    div.alert.alert-dismissable.alert-danger
                        button(type='button',data-dismiss='alert').close x
                        ul
                            each error, index in errors.invalidAttributes
                                li #{index} :
                                    each errorAttributes in error
                                        p #{errorAttributes.message}
                div.form-group  
                    label(for='titre').control-label Titre
                    input(type='text',name='Article[title]',value="#{ article ? article.title : '' }",id='titre').form-control
                div.form-group
                    label(for='contenue').control-label Abstract
                    textarea(name='Article[abstract]', rows='5', cols='30').form-control #{ article ? article.abstract : '' }
                div.form-group
                    label(for='contenue').control-label Contenu
                    textarea(name='Article[content]', id="markdown-editor", rows='10', cols='30').form-control #{ article ? article.content : '' }
                
                div.form-group
                    input(type='submit',value="Sauvegarder").btn.btn-primary
                    
block append content
    div.modal#wiki-modal
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    h5.modal-title Référence Wikipedia
                div.modal-body
                    input(type="search",placeholder="Rechercher un article",  autocomplete="off").form-control#searchRef
                    div#res-ref-article
                        h4.text-center Articles wikiSails
                        div#res-wikisails        
                            p.text-center Aucun résultat                
                        h4.text-center Articles Wikipedia
                        div#res-dbpedia
                            p.text-center Aucun résultat


block rightbar-content
    h3 METADATA